<div class="container col-md-4">
  <div class="row">
      <div class="col-md-12 col-xs-12 col-sm-12">
          <h1>Login Here!</h1>
          <form action="#" method="post" class="form" role="form">
          <input class="form-control" name="youremail" placeholder="Your Email" type="email" />
          <input class="form-control" name="password" placeholder="New Password" type="password" />
          <button routerLink = "/dashboard" class="btn btn-lg btn-primary btn-block" type="submit">
              Login
          </button>
              <br>
              <a routerLink = "/">Don't have an account?</a>
              <br>
              &nbsp;
          </form>
      </div>
  </div>
</div>
