<div class="container col-md-4">
    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12">
            <h1>Register Here!</h1>
            <form action="#" method="post" class="form" role="form">
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <input class="form-control" name="firstname" placeholder="First Name" type="text"
                        required autofocus />
                </div>
                <div class="col-xs-6 col-md-6">
                    <input class="form-control" name="lastname" placeholder="Last Name" type="text" required />
                </div>
            </div>
            <input class="form-control" name="youremail" placeholder="Your Email" type="email" />
            <input class="form-control" name="password" placeholder="New Password" type="password" />
            <input class="form-control" name="confirmpassword" placeholder="Confirm Password" type="password"/>
            <button routerLink = "/login" class="btn btn-lg btn-primary btn-block" type="submit">
                Sign up
            </button>
                <br>
                <a routerLink = "/login">Already have an account?</a>
                <br>
                &nbsp;
            </form>
        </div>
    </div>
</div>
